KEYCLOAK_ISSUER=http://localhost:8080/realms/cde
KEYCLOAK_JWKS_URI=http://localhost:8080/realms/cde/protocol/openid-connect/certs
KEYCLOAK_AUDIENCE=cde-portal
CORS_ALLOWED_ORIGINS=http://localhost:3000

OPENPROJECT_BASE_URL=http://localhost:8081
OPENPROJECT_API_KEY=replace-with-openproject-api-key
OPENPROJECT_PROJECT_ID=1
OPENPROJECT_TYPE_ID=1
OPENPROJECT_DEFAULT_PROJECT_ID=1
USE_OPENPROJECT_MOCK=true

NEXTCLOUD_BASE_URL=http://localhost:8082
NEXTCLOUD_USERNAME=replace-with-nextcloud-user
NEXTCLOUD_PASSWORD=replace-with-nextcloud-password
NEXTCLOUD_ROOT_PATH=/
NEXTCLOUD_ADMIN_USERNAME=replace-with-nextcloud-admin
NEXTCLOUD_ADMIN_PASSWORD=replace-with-nextcloud-admin-password
USE_NEXTCLOUD_MOCK=true

KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_REALM=cde
KEYCLOAK_ADMIN_REALM=master
KEYCLOAK_ADMIN_CLIENT_ID=admin-cli
KEYCLOAK_ADMIN_USERNAME=replace-with-keycloak-admin
KEYCLOAK_ADMIN_PASSWORD=replace-with-keycloak-admin-password

BFF_PUBLIC_URL=http://localhost:4000
BFF_BASE_URL=http://localhost:4000

# Local BFF running outside Docker:
# DATABASE_URL=postgresql://cde_portal:cde_portal_dev@localhost:5433/cde_portal
#
# BFF running inside docker-compose.portal.yml:
# DATABASE_URL=postgresql://cde_portal:cde_portal_dev@cde-portal-db:5432/cde_portal
